<a href="https://colab.research.google.com/github/vivekpatilpv/3-Axis-mini-CNC-machine/blob/master/un.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as pd
import pandas as pd 
from sklearn import preprocessing,datasets
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('/content/amazon_cr.csv')

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier

In [ ]:
df.head()

   id  the  and  a  of  to  is  ...  uch_a  ave_a  n_in_  ied_  nd_b  rso  class.1
0   1    5    3  4   4   1   5  ...    NaN    NaN    NaN   NaN   NaN  NaN      NaN
1   2   12    3  6   2   3   4  ...    NaN    NaN    NaN   NaN   NaN  NaN      NaN
2   3    3    2  2   4   4   2  ...    NaN    NaN    NaN   NaN   NaN  NaN      NaN
3   4   18    4  6   5   4   2  ...    NaN    NaN    NaN   NaN   NaN  NaN      NaN
4   5   13    4  7   5   4   5  ...    NaN    NaN    NaN   NaN   NaN  NaN      NaN

[5 rows x 10105 columns]

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [ ]:
x = df.iloc[:,0:8]
y = df.Outcome

AttributeError: ignored

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=0)

NameError: ignored